@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400500;600;700;800;900&display=swap');
*

*{
    margin:0;
    padding: 0;
}

.main{
    width:100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/mural3.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.responsive{
    width: 100%;
    height: auto;
}
nav{
    height:80px;
    width:100%;
    background-color: #121111; opacity: 0.7; filter: alpha(opacity=50);
    margin: auto;
}

nav ul
{
    float: right;
    margin-right: 20px;

}

nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a
{

  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover
{
    background: black;
    transition: 3s;
}

.menu{
    width: 500px;
    float: right;
    height: 70px;
}

img
{
    width: 250px;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin-top: 20px;
}
.content h1
{
    top: 150px;
    left: 600px;
    font-size: 40px;
    position: absolute;
    font-family: 'Times NEW Roman';
    color: #fdfcfc;
}


.content p
{
    top: 230px;
    left: 270px;
    position: absolute;
    text-align:center;
    font-family: 'Times NEW Roman';
    color: #fcfbfb;
    font-size: 25px;
}

.image
{   
    position: absolute;
    top: 350px;
    left: 0px;
    height:1300px;
    width: 100%;
    background: #f9f8f8;
}

.image .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #fff;
  padding: 10px;
}
.image .grid-item {
  background-color: #fff /*(255, 255, 255, 0.8)*/;
  border: #fff /*1px solid rgba(0, 0, 0, 0.8)*/;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
/********/
body 
{
    font-family: 'Times NEW Roman';
    color: #0e0e0e;
}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #302e2e;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #686666;;
  color: rgb(12, 12, 12);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #716f6f;
}

.image .contactForm .container {
  border-radius: 5px;
  background-color: #faf6f6;
  padding: 20px;
  position: absolute;
  top: 400px;
  left: 400px;
  height:00px;
  width: 700px;
}

.image .contactForm h1
{
    position: absolute;
    top: 300px;
    left: 38%;
}

.image .contactForm h3
{
    position: absolute;
    top: 350px;
    left:43%;
}
/**********/
 
hr{
    width: 50%;
    margin-left: 0px;
  }
  footer
  {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-top: 20px;
  
  }
  
  .footer-items
  {
    display: flex;
    background: #111;
    width:100%
  }
  
  .footer-items .box
  {
    flex-basis: 50%;
    padding-left: 20px;
  }
  
  .one h1
  {
    margin-left: 5px;
  }
  
  .box h1
  {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
  }
  
  .box .content
  {
    margin: 22px 0px 11px 0px;
  }
  
  .box .content p
  {
    font-size: 14px;
    text-align: justify;
    color: white;
  }
  
  .box .content  .readmore button
  {
    font-size: 14px;
    color:#fff;
    width:100%;
    height: 35px;
    cursor: pointer;
    background: #222;
    border: 1px solid #111;
    border-radius: 15px;
  }
  
  .content .text{
    color:white
  } 
  
  .two .content .fas
  {
    background: #222;
    font-size: 20px;
    width:45px;
    height: 45px;
    line-height:45px;
    text-align: center;
    border-radius: 50%;
    transition: .4s;
    cursor:pointer;
    color: white;
  }
  
  .two .content .fas:hover
  {
    background: teal;
    transition: .4s;
  }
  
  .two .content Phone
  {
    margin: 5px 0px;
  }
  
  .three .content a span
  {
    background: #222;
    font-size:25px;
    color:#fff;
    width:50px;
    height: 50px;
    border-radius:10px;
    line-height: 50px;
    text-align: center;
    margin:10px 15px 10px 0px;
  }
  
  
  .three .content a span:hover
  {
    background: teal;
    transition: 5s;
  }
  
  
  .four .text, .four .message
  {
    font-size: 18px;
    margin-bottom: 2px;
    color:white
  }
  
  .four form input
  {
    height: 20px;
  }
  
  .four form input, .four form textarea
  {
    width:95%;
    background: #151515;
    padding-left: 10px;
    font-size:15px;
    color:#fff;
    border:1px solid #222222;
  }
  
  .four button
  {
    width:100%;
    font-size: 16px;
    color:#000;
    font-weight: 500;
    height: 37px;
    background: #999999;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    border:1px solid #111;
  }
  
  .four button:hover
  {
    background:teal;
    transition: .5s;
  }
  
  
  .end p
  {
    width: 100%;
    line-height: 50%;
    text-align: center;
  
  }
  
  .end .cb
  {
    color:red;
    cursor:pointer;
    font-size: 18px;
  }
  
  
  
  @media(max-width:788px)
  {
    footer
    {
        position:relative;
        bottom: 0;
    }
  
    .footer-items
    {
        flex-wrap: wrap;
    }
  
    .footer .box
    {
        margin:5px 0px;
    }
  }
  
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
  }
  
  .par{
    font-family:'Times New Roman';
    padding-left: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.2px;
    line-height: 30px;
  }
  
  .h1{
    font-family: 'Times NEW Roman';
  }
  
  .buttons .button {
  background-color: #DCDCDC;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 30px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 150px;
  left: 400px;
  }
  .buttons .btn{
  background-color: #DCDCDC;
  color: black;
  position: absolute;
  bottom: 150px;
  left: 600px;
  font-size: 16px;
  padding: 15px 20px;
  margin: 15px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  }
  
  
  .btn.focus{
    outline: none;
  }
  
  .fakeImage
  {
    top: 600px;
    left:0px;
    position: absolute;
    background-color: #5a5555;
    width: 100%;
    height: 600px;
    padding: 20px;
  }
  
  .fakeImage h1
  {
    top: 50px;
    left: 650px;
    position: absolute;
    text-align:center;
    font-family: 'Times NEW Roman';
    color: #fff;
  }
  
  .fakeImage p
  {
    top: 150px;
    left: 450px;
    position: absolute;
    font-family: 'Times NEW Roman';
    color: #fff;
    font-size: 18px;
  }
  
  .fakeImage img
  {
    top: 50px;
    left:20px;
    position: absolute;
    width: 400px;
    height: 300px;
    padding: 20px;
  }
  
  .fakeImage .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #3e3b3b;
    width: 100%;
    height: 200px;
    padding: 20px;
  }
  
  .fakeImage .footer h2
  {
    top: 30px;
    left: 670px;
    position: absolute;
    text-align:center;
    font-family: 'Times NEW Roman';
    color: #fff;
  }
  
  .fakeImage .footer p
  {
    top: 90px;
    left: 500px;
    position: absolute;
    text-align:center;
    font-family: 'Times NEW Roman';
    color: #fff;
    font-size: 18px;
  }
  