*{
    margin:0;
    padding: 0;
  }
  
  .main{
    width:100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(images/back.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
  }
  
  .responsive{
    width: 100%;
    height: auto;
  }
  nav{
    height:80px;
    width:100%;
    background-color: #121111; opacity: 0.7; filter: alpha(opacity=50);
    margin: auto;
    /*position: fixed;*/
  }
  
  nav ul
  {
    float: right;
    margin-right: 20px;
  
  }
  
  nav ul li
  {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a
  {
  
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  }
  
  a.active,a:hover
  {
    background: black;
    transition: 3s;
  }
  img
  {
      width: 250px;
      font-size: 35px;
      line-height: 80px;
      padding: 0 100px;
      font-weight: bold;
      margin-top: 20px;
  }
  
  .menu{
    width: 500px;
    float: right;
    height: 70px;
  }
  
  /*
  ul li a{
      text-decoration:none;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      transition: 0.2s ease-in-out;
  }
  
  ul li a:hover{
      color:lightgray
  }*/
  h1{
    top: 100px;
    left: 570px;
    position: absolute;
    text-align:center;
    font-family: 'Times NEW Roman';
    color: #fff;
    font-size: 30px;
  }
  
  .Image{
    top: 170px;
    left:0px;
    position: absolute;
    background-color: #fff;/*#5a5555*/
    width: 100%;
    height: 2010px;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 11px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    opacity: 1; 
    cursor: pointer;
  }
  
  /* Style the images inside the grid 
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }*/
  
  .column img:hover {
    opacity: 0.9;
  }
  
  /* Overlay text */
  .overlay {
    position: absolute;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .column:hover .overlay {
    visibility: visible;
    opacity: 0.7;
  }
  
  /* Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }*/
  
  /* The expanding image container */
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    align-items: center;
  }
  
  .container img {
    width: 800px;
    height: 700px;
    /*left: 100px;*/
    position: center;
  }
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  .container p{
    position: absolute;
    top: 100px;
    right: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
  
  @media screen and (max-width: 700px) {
      .row {   
        flex-direction: column;
      }
    }
  
    @media screen and (max-width: 400px) {
      .navbar a {
        float: none;
        width:100%;
      }
    }
  
  
    
  hr{
    width: 50%;
    margin-left: 0px;
  }
  footer
  {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-top: 20px;
  
  }
  
  .footer-items
  {
    display: flex;
    background: #111;
    width:100%
  }
  
  .footer-items .box
  {
    flex-basis: 50%;
    padding-left: 20px;
  }
  
  .one h1
  {
    margin-left: 5px;
  }
  
  .box h1
  {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
  }
  
  .box .content
  {
    margin: 22px 0px 11px 0px;
  }
  
  .box .content p
  {
    font-size: 14px;
    text-align: justify;
    color: white;
  }
  
  .box .content  .readmore button
  {
    font-size: 14px;
    color:#fff;
    width:100%;
    height: 35px;
    cursor: pointer;
    background: #222;
    border: 1px solid #111;
    border-radius: 15px;
  }
  
  .content .text{
    color:white
  } 
  
  .two .content .fas
  {
    background: #222;
    font-size: 20px;
    width:45px;
    height: 45px;
    line-height:45px;
    text-align: center;
    border-radius: 50%;
    transition: .4s;
    cursor:pointer;
    color: white;
  }
  
  .two .content .fas:hover
  {
    background: teal;
    transition: .4s;
  }
  
  .two .content Phone
  {
    margin: 5px 0px;
  }
  
  .three .content a span
  {
    background: #222;
    font-size:25px;
    color:#fff;
    width:50px;
    height: 50px;
    border-radius:10px;
    line-height: 50px;
    text-align: center;
    margin:10px 15px 10px 0px;
  }
  
  
  .three .content a span:hover
  {
    background: teal;
    transition: 5s;
  }
  
  
  .four .text, .four .message
  {
    font-size: 18px;
    margin-bottom: 2px;
    color:white
  }
  
  .four form input
  {
    height: 20px;
  }
  
  .four form input, .four form textarea
  {
    width:95%;
    background: #151515;
    padding-left: 10px;
    font-size:15px;
    color:#fff;
    border:1px solid #222222;
  }
  
  .four button
  {
    width:100%;
    font-size: 16px;
    color:#000;
    font-weight: 500;
    height: 37px;
    background: #999999;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    border:1px solid #111;
  }
  
  .four button:hover
  {
    background:teal;
    transition: .5s;
  }
  
  
  .end p
  {
    width: 100%;
    line-height: 50%;
    text-align: center;
  
  }
  
  .end .cb
  {
    color:red;
    cursor:pointer;
    font-size: 18px;
  }
  
  
  
  @media(max-width:788px)
  {
    footer
    {
        position:relative;
        bottom: 0;
    }
  
    .footer-items
    {
        flex-wrap: wrap;
    }
  
    .footer .box
    {
        margin:5px 0px;
    }
  }
  
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
  }
  
  .par{
    font-family:'Times New Roman';
    padding-left: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.2px;
    line-height: 30px;
  }
  
  .h1{
    font-family: 'Times NEW Roman';
  }
  
  .buttons .button {
  background-color: #DCDCDC;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 30px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 150px;
  left: 400px;
  }
  .buttons .btn{
  background-color: #DCDCDC;
  color: black;
  position: absolute;
  bottom: 150px;
  left: 600px;
  font-size: 16px;
  padding: 15px 20px;
  margin: 15px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  cursor: pointer;
  width: 100px;
  }
  
  
  .btn.focus{
    outline: none;
  }
  
  .fakeImage
  {
    top: 600px;
    left:0px;
    position: absolute;
    background-color: #5a5555;
    width: 100%;
    height: 600px;
    padding: 20px;
  }
  
  .fakeImage h1
  {
    top: 50px;
    left: 650px;
    position: absolute;
    text-align:center;
    font-family: 'Times NEW Roman';
    color: #fff;
  }
  
  .fakeImage p
  {
    top: 150px;
    left: 450px;
    position: absolute;
    font-family: 'Times NEW Roman';
    color: #fff;
    font-size: 18px;
  }
  
  .fakeImage img
  {
    top: 50px;
    left:20px;
    position: absolute;
    width: 400px;
    height: 300px;
    padding: 20px;
  }
  
  .fakeImage .footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #3e3b3b;
    width: 100%;
    height: 200px;
    padding: 20px;
  }
  
  .fakeImage .footer h2
  {
    top: 30px;
    left: 670px;
    position: absolute;
    text-align:center;
    font-family: 'Times NEW Roman';
    color: #fff;
  }
  
  .fakeImage .footer p
  {
    top: 90px;
    left: 500px;
    position: absolute;
    text-align:center;
    font-family: 'Times NEW Roman';
    color: #fff;
    font-size: 18px;
  }
  
  